@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");

:root {
  --THEME_COLOR: #ff6347;
  --THEME_COLOR_DARK: #ff2600;
  --THEME_COLOR_LIGHTER: #ffa599;
}

html,
body {
  background-color: #f9fbfd;
}

.title {
  font-family: "Just Another Hand", cursive;
  font-size: 2.5rem;
}

.title-mobile {
  font-family: "Just Another Hand", cursive;
  font-size: 2rem;
  text-align: center;
}

.mobile-hamburger {
  color: var(--THEME_COLOR) !important;
}

.modal-header {
  background-color: var(--THEME_COLOR) !important;
  color: white !important;
}

.navbar-icon {
  color: var(--THEME_COLOR);
}

.submit-button {
  color: white !important;
  background-color: var(--THEME_COLOR) !important;
}

.submit-button:hover {
  background-color: var(--THEME_COLOR_DARK) !important;
}

.router-link {
  color: black !important;
}
